.author {
  width: 100%;
  background: #ffffff;
}

.author__wrapper {
  display: flex;
  margin: 80px 104px;
}

.author__photo-wrapper {
  max-width: 464px;
  max-height: 464px;
}

.author__photo {
  width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.author__info {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-left: 56px;
}

.author__title {
  font-family: 'Roboto-Slab', Times, 'Times New Roman', serif;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin-top: 50px;
  margin-bottom: 24px;
}

.author__about {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

/*tablets*/

@media (max-width: 835px) {
  .author__photo-wrapper {
    max-width: 232px;
    max-height: 232px;
    margin-top: 60px;
  }
  .author__wrapper {
    margin: 0 40px;
  }
  .author__title {
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 40px;
  }
  .author__info {
    max-width: 424px;
    margin-left: 32px;
  }
  .author__about {
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 24px;
  }
}

/*mobile*/

@media (max-width: 500px) {
  .author__wrapper {
    flex-direction: column;
    margin: 0 16px;
    align-items: center;
  }
  .author__photo-wrapper {
    max-width: 272px;
    max-height: 272px;
    margin-top: 32px;
  }
}
